.reg_wrapper {
  display: grid;
  justify-content: center;
}
/* 
.block {
  width: 230px; 
  box-sizing: border-box;
  border-radius: 0.8em;
  font-size: 1.5em;
  margin-bottom: 1.2em;
  padding: 1em;
  line-height: 1em;
  text-align: center;
  display: flex;
  flex-direction: column; 
   flex-wrap: wrap;
} */

.traffic_light {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-right: 2em;
}

#green {
  color: #14a76c;
  border: #14a76c 2px solid;
}

#yellow {
  color: #ffe400;
  border: #ffe400 2px solid;
}
#red {
  color: #ff652f;
  border: #ff652f 2px solid;
  margin-bottom: 0em;
}

.reg_form {
  width: 35em;
  border: #4B4B4B 2px solid;
  border-radius: 1em;
  color: #fff;
  display: grid;
  justify-items: center;
  padding: 1em;
  margin: 0;
}


#text {
  font-size: 20px;
}

.input,
.input:focus {
  border-radius: 0.5em;
  background: #4b4b4b;
  /* width: 25em; */
  color: #fff;
}

#checkbox {
  width: 21px;
  height: 21px;
}

#check_text {
  font-size: 18px;
}

#reg_button {
  width: 13em;
  height: 1.7em;
  padding: 0;
  font-size: 1.3em;
  color: #fff;
  border-radius: 0.8em;
  border: #646464 1px solid;
  margin-top: 1em;
  /* margin: 1em auto 1em; */
}
/* 
.indent {
  margin-bottom: 30px;
} */

.link_left_margin {
  margin-left: 0.7em;
}

#link {
  text-decoration: none;
  color: #14a76c;
  margin-left: 0.7em;
}

#link:hover {
  color: #0f8656;
  border-bottom: 2px solid #0f8656;
}

/*
a:link {
  text-decoration: none;
  color: #14a76c;
}
/*
text_regr a {
  margin-left: 0.3em;
}

text_regr a:visited {
  text-decoration: none;
  color: #0c6541;
}

text_regr a:hover {
  border-bottom: #0c6541 1px solid;
  color: #0c6541;
} */

/* * Registration Page */


.reg_wrapper {
  margin: 1em auto;
  display: flex;
}

.block {
  width: 7em;
  border-radius: 0.4em;
  font-size: 2.5em;
  margin-bottom: 0.3em;
  padding: 0.2em;
  text-align: center;
  line-height: 1.2em;
}

#reg_head {
  font-size: 2em;
  letter-spacing: 1px;
}

#text {
  font-size: 1.25em;
}

.input,
.input:focus {
border-radius: 10px;
background: #4b4b4b;
width: 20em;
color: #fff;
}


#checkbox {
  width: 1.3125em;
  height: 1.3125em;
  vertical-align: middle;
}

#check_text {
  font-size: 1.125em;
  margin-left: 1em;
  vertical-align: middle;
}

#reg_button {
  width: 13em;
  height: 1.7em;
  padding: 0;
  font-size: 1.3em;
  color: #fff;
  border: #646464 1px solid;
  border-radius: 0.7em;
}