.footer {
    background: #151515;
    color: #747474;
    padding: 1em;
}

.box_link {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.box_link a {
    color: #747474;
    margin-bottom: 0.7em;
    font-size: 1.3em;
}

.box_link a:hover {
    color: #5a5959;
}

.desc {
    color: #917676;
    font-size: 1.3em;
    line-height: 2em;
}

.dev_wrapper {
    margin: 0;
}

.dev {
    margin-top: 1em;
    display: flex;
}

.dev img {
    display: block;
}