.container{
    color: white;
    max-width: 100%;
}

.upper_header {
    background: #1F1F1F;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.3em;
}

#enter_button {
    margin-right: 1em;
}

#enter_button a {
    color: #151515;
}

.lower_header {
    display: flex;
    align-items: center;
    background: #151515;
    font-size: 24px;
    padding: 12px;
}

.lower_header a{
    text-decoration: none;
    color: white;
}


.lower_header_form, .lower_header_form:focus {
   border-radius: 15px;
   border: 2px #747474 solid;
   background: #151515;
   color:#747474;
   font-size: 18px;
}

.select_list {
    background: #4B4B4B;
    color: #fff;
    border-radius: 0.3em;
}