.home_page_wrapper {
    background: #1F1F1F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.left_box_wrapper {
    width: 18em;
    margin-right: 2em;
}

.wrapper {
    background: #272727;
    border-radius: 15px;
    border: #14A76C 2px solid;
    color: #D2D2D2;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    padding: 0.7em;
    margin-bottom: 1.5em;
}

.wrapper span {
    margin-bottom: 0.4em;
}

#green {
    color: #14A76C;
}

.ask_text a {
    color: #14A76C;
}

.ask_text a:hover {
    border-bottom: #0c6541 1px solid;
    color: #0c6541;
}

#ask_button {
    font-size: 20px;
    margin-top: 1em;
}

#button_up {
    width: 8em;
    margin-top: 2em;
}