.reg_wrapper {
    margin: 26px auto;
    display: flex;
    justify-content: center;
}

.block {
    width: 230px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 32px;
    margin-bottom: 33px;
    padding: 13px;
    line-height: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.traffic_light {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

#green {
    color:#14A76C;
    border: #14A76C 2px solid;
}

#yellow {
    color: #FFE400;
    border: #FFE400 2px solid;
}
#red {
    color:#FF652F;
    border: #FF652F 2px solid;
    margin-bottom: 0em;
}

.reg_form {
    display: flex;
    width: 40%;
    max-height: 384px;
    border: #4B4B4B 2px solid;
    border-radius: 15px;
    margin: 0;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

#reg_head {
    font-size: 32px;
    letter-spacing: 1px;
}

#text {
    font-size: 20px;
}

.input {
    border-radius: 10px;
    background: #4B4B4B;
    width: 20em;
    color: #fff;
}

#checkbox {
    width: 21px;
    height: 21px;
}

#check_text {
    font-size: 18px;
}

#reg_button {
    width: 261px;
    height: 42px;
    font-size: 20px;
    background: #4B4B4B;
    color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.indent {
    margin-bottom: 30px;
}

.center {
    margin: 0 auto 33px;
}

a:link {
    text-decoration: none;
    color: #14A76C;
}

a:visited {
    text-decoration: none;
    color: #0c6541;
}

a:hover {
    border-bottom: #0c6541 1px solid;
    color: #0c6541;
}