.quest_wrapper {
    width: 691px;
    border: 2px solid #FFE400;
    border-radius: 15px;
    color: #fff;
    padding: 26px;
}

#text {
    font-size: 32px;
}

#small_text {
    font-size: 20px;
}

.select_list {
    width: 306px;
    background: #4B4B4B;
    border-radius: 9px;
    color: #fff;
}

.input,.input:focus {
    background: #4B4B4B;
    border-radius: 9px;
    color: #fff;
}

.textarea, .textarea:focus {
    background: #4B4B4B;
    border-radius: 9px;
    color: #fff;
    resize: none;
}

#publish {
    background: #373737;
    width: 208px;
    height: 42px;
    border: #FFE400 2px solid;
    border-radius: 9px;
    color: #fff;
    font-size: 20px;
}

#return {
    background: #373737;
    width: 162px;
    height: 42px;
    border: #4B4B4B 2px solid;
    border-radius: 9px;
    color: #fff;
    font-size: 20px;
}

.item {
    margin-bottom: 27px;
}

.col {
    width: auto;
    display: inline-block;
}

.row {
    display: flex;
    justify-content: space-evenly;
}