.rules_wrapper {
    max-width: 60em;
    border: #747474 0.1em solid;
    border-radius: 0.8em;
    margin: 1em auto;
    padding: 1em;
    color: #fff;
}

#title {
    display: block;
    font-size: 2em;
    color: #FFE400;
    margin-bottom: 0.7em;
}

.green_text {
    color: #14A76C;
    font-size: 1.3em;
    margin-bottom: 0.3em;
    display: inline-block;
}

p {
    font-size: 1.1em;
}

.red_text {
    color: #FF652F;
    font-size: 1.3em;
    margin-bottom: 0.3em;
    display: inline-block;
}

#button_up {
    width: 8em;
    margin: 2em auto;
    display: block;
}