
.list_wrapper {
    border: #FFE400 2px solid;
    border-radius: 0.8em;
    color: #fff;
    width: 100%;
    padding: 2em;
    margin-top: 15px;
}



@media only screen and (max-width: 768px) {
    .list_wrapper {
        width: 85%;
        margin: 1em auto ;
        border: #FFE400 2px solid;
        border-radius: 0.8em;
        padding: 0.7em;
    }
    
    #title {
        font-size: 1.8em;
        color: #D2D2D2;
        display: inline-block;
        margin-bottom: 1em;
    }

    .items_container {
        border-bottom: 1px solid grey; 
        margin-bottom: 1em;
    }

    .items_container span {
        margin-right: 1em;
        font-size: 1.5em;
        color: #D2D2D2;
    }
} 

