@media only screen and (min-width: 1024px) {
.list_wrapper {
    border: #FFE400 2px solid;
    border-radius: 0.8em;
    color: #fff;
    width: 100%;
    padding: 2em;
    margin-top: 15px;
}

#title {
    font-size: 28px;
    color: #D2D2D2;
    display: inline-block;
    margin-bottom: 1em;
}

.items_container span {
    margin-right: 1em;
    font-size: 1.5em;
    color: #D2D2D2;
}
}

<<<<<<< HEAD

@media only screen and (max-width: 768px) {
=======
/* 
@media (max-width: 600px) {
>>>>>>> e67c0a92cc63921f90a939a7d65371f03302724e
    .list_wrapper {
        width: 85%;
        margin-top: 20px;
        border: #FFE400 2px solid;
        border-radius: 0.8em;
        padding: 0.7em;
    }
<<<<<<< HEAD
    
    #title {
        font-size: 28px;
        color: #D2D2D2;
        display: inline-block;
        margin-bottom: 1em;
    }

    .items_container span {
        margin-right: 1em;
        font-size: 1.5em;
        color: #D2D2D2;
    }
}
=======
  } */
>>>>>>> e67c0a92cc63921f90a939a7d65371f03302724e
