.list_wrapper {
    border: #FFE400 2px solid;
    border-radius: 15px;
    color: #fff;
    width: 45%;
    padding: 2em;
}

#title {
    font-size: 28px;
    color: #D2D2D2;
    display: inline-block;
    margin-bottom: 1em;
}

.items_container span {
    margin-right: 1em;
    font-size: 1.5em;
    color: #D2D2D2;
}
