.wrapper {
    border-bottom: #808080 1px solid;
}

.wrapper h4 {
    color: #14A76C;
}

.question_container {
    display: flex;
    margin: 1em auto;
}
p{
    color: #FFFFFF;
}

.signature {
    color: #747474;
}
